header hl {
    font-size: 40pt;
    text-transform: uppercase;
    text-align: right;
    background: url("bg.jpg") left / auto 100% no-repeat;
}
nav {
    font-size: 20pt;
    width: 150px;
    float: left;
}
nav a {
    display: block;
    margin: 10px 0px;
}
section {
    margin-left: 250px;
}